* { margin: 0; padding: 0; box-sizing: border-box; background-color: #EDF2F4; }
body { font-family: 'Poppins', sans-serif; color: #1e1e1e;}
a { text-decoration: none; }
ul { list-style: none; }
li { font-family: 'Rubik', sans-serif; font-size: 20px; font-weight: 500; }
.container { margin: 0 var(--container-margin); }

